/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: rgb(34, 34, 34);
}

.btn_pst{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.btn__wrapper {
    display: flex;
    justify-content: center;
}
.btn {
    padding: 10px;
    background-color: rgb(43, 43, 43);
    color: white;
    border: 1px solid teal;
    cursor: pointer;
    margin: 2px;
}

.post_filter{
    display: flex;
    justify-content: flex-end;
}
.value_block {
    color: rgb(240, 240, 240);
}
.login_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: rgb(240, 240, 240);
}
.login_item {
    margin-top: 30px;
} */
